name: Docker Image CI

concurrency:
  group: "build"
  cancel-in-progress: false

on:
  push:
    branches: [ "master" ]

jobs:

  Build-and-Push:

    runs-on: dal-1

    steps:
    - name: Checkout
      uses: actions/checkout@v4.2.2

    - name: Login to Docker Hub
      uses: docker/login-action@v3.3.0
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.3.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.8.0

    - name: Build and push Docker image for the web server
      uses: docker/build-push-action@v6.11.0
      with:
          context: .
          file: web-server/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cblwebserver:latest
          provenance: true

    - name: Update Web Server Deployment
      if: success()
      continue-on-error: true
      run: ${{ WEB_SERVER_LAUNCH }}

    - name: Build and push Docker image for the ban importer
      uses: docker/build-push-action@v6.11.0
      with:
          context: .
          file: ban-importer/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cblimporter:latest
          provenance: true
